rpms/
*.log
*.lock
.idea/
!index.html

.project
.npmrc
.settings
*~
*.diff
*.patch
/*.html
.DS_Store
.bower.json
.sizecache.json
yarn.lock
package-lock.json
*.egg-info

npm-debug.log*

# Ignore everything in dist folder except for eslint config
/dist
/dist/*
!/dist/.eslintrc.json
!index.html
rpmbuild/

/node_modules
