graft config
graft etc
graft src
graft static

include .browserslistrc .bumpversion.cfg .npmrc
include babel.config.js postcss.config.js vue.config.js
include package.json index.html README.md
include COPYING.BSD COPYING.EPL
include antilles-portal.spec