graft build
graft config
graft etc
graft src
graft static

include .babelrc .bumpversion.cfg .npmrc
include package.json index.html README.md
include COPYING.BSD COPYING.EPL
include antilles-portal.spec