[Unit]
Description=Mail alarm agent for antilles project
After=multi-user.target

[Service]
EnvironmentFile=-/etc/sysconfig/antilles-mail-agent
ExecStart=/usr/bin/gunicorn --paste /etc/antilles/mail-agent.ini
User=antilles
KillMode=mixed
Restart=on-failure

[Install]
WantedBy=multi-user.target